<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">	
  <display-name>2Palito</display-name>
  
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>messages</param-value>
	</context-param>  
	
	<context-param>
	    <param-name>br.com.caelum.vraptor.packages</param-name>
	    <param-value>
			br.com.caelum.vraptor.serialization.gson.adapters, 
			br.com.caelum.vraptor.deserialization.gson,
			br.com.caelum.vraptor.http.iogi
		</param-value>
	</context-param>
	
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<error-page>
    	<error-code>403</error-code>
    	<location>/403.jsp</location>
	</error-page>
	
	<error-page>
    	<error-code>404</error-code>
    	<location>/404.jsp</location>
	</error-page>
			
	<error-page>
    	<error-code>500</error-code>
    	<location>/500.jsp</location>
	</error-page>
	
	<error-page>
    	<error-code>503</error-code>
    	<location>/503.jsp</location>
	</error-page>  			
</web-app>
