<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aqlbras.catmovshop.mobile.android"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/tema">
        
        <activity
            android:label="@string/app_name"
            android:name="br.com.aqlbras.catmovshop.mobile.android.Main" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.TelaPrincipalActivity"></activity>
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.TelaBandejaActivity"></activity>
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.TelaCardapioActivity"></activity>
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.TelaConfiguracoesActivity"></activity>
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.TelaHistoricoActivity"></activity>
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.TelaPedidosActivity"></activity>
        <activity android:name="br.com.aqlbras.catmovshop.mobile.android.activity.AlertaActivity" 
       	     	  android:theme="@android:style/Theme.Dialog" 
       	     	  android:label="Alterar quantidade de itens"></activity>
    </application>

</manifest>